<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
body{
height: 100vh
;padding: 0px;margin: 0px;
}

table {display: block ;

    margin: auto;
}
table, td,th
{
    padding: 16px;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}
th{
    background-color: rgb(0, 247, 255);
}

caption{
    color: rgb(0, 0, 0);
    line-height: 30px;
    font-size: 40px;
}

tr:hover{
    background-color: rgb(80, 112, 255);
}


tr:nth-child(even){
    background-color: rgb(21, 102, 173);
}




    </style>
</head>

<body>

    <table>
<caption>
    Aulas da semana
</caption> 

<thead>
    <tr></tr>
    <tr>
        <th> SEGUNDA-FEIRA </th>
        <th> TERÇA-FEIRA</th>
        <th> QUARTA-FEIRA</th>
        <th> QUINTA-FEIRA</th>
        <th> SEXTA-FEIRA </th>
        
    </tr>
</thead>
<tr>
    <td> Academia</td>
     <td> Academia</td> 
     <td> Academia</td>
     <td> Academia</td>
     <td> Academia</td>



</tr>
<tr>
    <td> História</td>
<td> Física </td>
<td> Gramática </td>
<td> Geografia </td>
<td> Espanhol</td>
</tr>

<tr>
    <td> Inglês </td>
<td> Educação Física </td>
<td> Redação </td>
<td> Espanhol</td>
<td> Projeto de vida</td>
</tr>

<tr> 
    <td>Geografia</td>
    <td>Química</td>
    <td>Projeto de vida</td>
    <td> Biologia</td>
    <td>Redação</td>
</tr>
<tr>
    <td> Natação</td>
    <td>Vôlei </td>
    <td> Surf</td>
    <td> Taiko</td>
    <td> Corrida</td>
</tr>
<tr>
    <td> Basquete</td>
    <td>Corrida</td>
    <td>Karate</td>
    <td> Surf</td>
    <td> Vôlei</td>
</tr>

    </table>
</body>
</html>
